.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 1rem !important;
  padding-bottom: 1rem !important; */
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.9) !important;
}

.nav-link{
  color: rgba(255, 255, 255, 0.9) !important;
}

.main{
  margin-top: 4rem;
}

._header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._img{
  width: 100%;
}
.img_{
  width: 100%;
}

._footer{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: relative;
}

.price_{
  font-size: 1rem;
  font-weight: 600;
  color: brown;
  display: flex;
  align-items: center;
  align-content: center;
}

em{
  color: hsl(140, 100%, 25%);
}